<div class='weather-widget'>

  <h3 style='margin-top:0px'>Current weather of <%= @curr_city %></h3>
  <h2><img src= <%= @weather_pic %> >
  <%= @temp %> °C</h2>
  <%= @sky_view %> <p></p>
  <%#= @time.strftime("get at %H:%M on %D") %> <p></p>

  <%= form_for(:curr, html: {multipart: true}) do |f| %>
    Change city:
    <%= f.text_field :city %><br>
    <%= f.submit 'Search' %>
  <% end %>
</div>
