
<div class='weather-widget'>
  <% params[:forecast] ? get_weather(params[:forecast],2) : get_weather(2) %>

  <h3 style='margin-top:0px'>Forecast for <%= @forecast_city %></h3>

  <form>
    Change city:
    <input type="text" name="forecast" placeholder="Your city name"></br>
    <button> Search </button>
  </form>

  <%= @date %>
  <hr>
  <%= @all_data %>
  <hr>

  <%= content_tag :div, class: "temp_information", data: {temp: @all_data} do %>
  <% end %>

  <%= javascript_include_tag 'call_draw_daily_chart' %>
</div>
