<div class='weather-widget'>
  <% params[:curr] ? get_weather(params[:curr],1) : get_weather(1) %>

  <h3 style='margin-top:0px'>Current weather of <%= @curr_city %></h3>
  <h2><img src= <%= @weather_pic %> >
  <%= @temp %> °C</h2>
  <%= @sky_view %> <p></p>
  <%= @time.strftime("get at %H:%M on %D") %> <p></p>

<!--   <form>
    Change city:
    <input type="text" name="curr" placeholder="Your city name"></br>
    <button> Search </button>
  </form> -->
  <%= form_for(:curr, html: {multipart: true}, method: 'get') do |f| %>
    Change city:
    <%= f.text_field :city %><br>
    <%= f.submit 'Search' %>
  <% end %>
</div>
