<div class='weather-widget'>
  <p>
    <% if params[:q] %> 
      <% get_current_weather(params[:q]) %>
    <% else %>
      <% get_current_weather %>
    <% end %>
    <p>
      <h3>City of <%= @city %></h3>
      <h2><img src= <%= @weather_pic %> >
        <%= @temp %> °C</h2>
      <%= @sky_view %> <p></p>
      <%= @time.strftime("get at %H:%M on %D") %> <p></p>
    </p>

    <form>
      Change city:
      <input type="text" name="q" placeholder="Your city name"></br>
      <button> Search </button>
    </form>
  </p>
</div>
