<div class='weather-widget'>
  <% params[:forecast] ? get_weather(params[:forecast],2) : get_weather(2) %>

  <h3 style='margin-top:0px'>Forecast for <%= @forecast_city %></h3>

  <%= form_for(:forecast, html: {multipart: true}, method: 'get') do |f| %>
    Change city:
    <%= f.text_field :city %><br>
    <%= f.submit 'Search' %>
  <% end %>

  <%= content_tag :div, class: 'temp_information', data: {temp: @all_data} do %>
  <% end %>

  <div id='chart'>
    <%# i dont need the following row, and so dont need to change initializers/assets.rb! 
    Because the file rests in asserts/javascript and get loaded in the header! %>
    <%#= javascript_include_tag 'call_draw_daily_chart' %>
  </div>
</div>
